@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  min-width: 100%;
  display: flex;
}

.maskBody {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.4) 80%
  );
  @apply flex
  h-full
  w-full
  bg-no-repeat
  bg-blend-multiply
  bg-fixed
  bg-left
  bg-cover;
}

::-webkit-scrollbar {
  width: 10px;
  @apply rounded-full overflow-hidden;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100  rounded-full border-4 border-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border-4 border-transparent;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
